li {color:darkorange}
h1 {color:brown;}
#thirdDiv {
    padding: 50px 50px 50px 50px;
    height: 1200px;;
    width:700px;
    background-color: darkcyan;
    
}
#spanId {
    font-size: 18px;
    margin: 50px;
}